In [1]:
#Unpacking a sequence into separate varilables

In [2]:
p=(4,5)

In [3]:
x,y=p

In [4]:
x

4

In [5]:
y

5

In [12]:
data=['ACME',50,91.1,(2012,12,21)]

In [13]:
name,share,price,date=data

In [14]:
name

'ACME'

In [16]:
date

(2012, 12, 21)

In [17]:
name,share,price,(year,month,date)=data

In [18]:
year

2012

In [19]:
#Unpacking elements from iterables of Arbitrary

In [21]:
record=('Dave','dave@example.com','777-555-1212','847-555-1212')

In [22]:
name,email,*phone_numbers=record

In [23]:
phone_numbers

['777-555-1212', '847-555-1212']

In [25]:
line='nobody:*:2:-2:Unprivileged User:/var/empty:/user/bin/false'

In [30]:
uname,*fields,homedir,sh=line.split(':')

In [31]:
sh

'/user/bin/false'

In [32]:
record=('ACME',50,123.45,(12,18,2012))

In [33]:
name,*_,(*_,year)=record

In [34]:
name

'ACME'

In [35]:
year

2012

In [36]:
items=[1,10,7,4,5,9]

In [37]:
head,*tail=items

In [38]:
head

1

In [39]:
tail

[10, 7, 4, 5, 9]

In [40]:
def sum(items):
    head,*tail=items
    return head + sum(tail) if tail else head

In [41]:
sum(items)

36

In [42]:
#Keeping the last N items

In [1]:
from collections import deque

In [2]:
def search(lines,pattern,history=5):
    previous_lines=deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)

In [9]:
if __name__=='__main__':
    with open('MasteringPython.txt') as f:
        for line, previouslines in search(f,'aggreation',5):
            for pline in previouslines:
                print(pline,end='')
                print('-'*20)

reshaping data frame
--------------------
pivoting data frame
--------------------
duplicate in data frame
--------------------
mspping
--------------------
rename index
--------------------

In [18]:
q=deque()

In [19]:
q.append(1)

In [20]:
q.append(2)

In [21]:
q.append(3)

In [22]:
q

deque([1, 2, 3])

In [23]:
q.appendleft(4)

In [24]:
q

deque([4, 1, 2, 3])

In [25]:
q.pop()

3

In [26]:
q.popleft()

4

In [10]:
#Finding the largest and smallest N items

In [11]:
import heapq

In [12]:
nums=[1,8,2,23,7,-4,18,23,42,37,2]

In [14]:
print(heapq.nlargest(3,nums))

[42, 37, 23]

In [15]:
print(heapq.nsmallest(3,nums))

[-4, 1, 2]

In [27]:
portfolio = [
 {'name': 'IBM', 'shares': 100, 'price': 91.1},
 {'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75},
 {'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [29]:
cheap=heapq.nsmallest(3,portfolio,key=lambda s:s['price'])

In [30]:
cheap

[{'name': 'YHOO', 'price': 16.35, 'shares': 45},
 {'name': 'FB', 'price': 21.09, 'shares': 200},
 {'name': 'HPQ', 'price': 31.75, 'shares': 35}]

In [31]:
expensive=heapq.nlargest(3,portfolio,key=lambda s:s['price'])

In [32]:
expensive

[{'name': 'AAPL', 'price': 543.22, 'shares': 50},
 {'name': 'ACME', 'price': 115.65, 'shares': 75},
 {'name': 'IBM', 'price': 91.1, 'shares': 100}]

In [33]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [34]:
heap=list(nums)

In [35]:
heapq.heapify(heap)

In [36]:
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [38]:
heapq.heappop(heap)

-4

In [39]:
sorted(nums)[:3]

[-4, 1, 2]

In [41]:
sorted(nums,reverse=True)[:3]

[42, 37, 23]

In [42]:
# Implementing a Priority Queue

In [43]:
import heapq

In [44]:
class PriorityQueue:
    def __init__(self):
        self._queue=[]
        self._index=0
        
        
    def push(self,item,priority):
        heapq.heappush(self._queue,(-priority,self._index,item))
        self._index +=1
        
    def pop(self):
        return heapq.heappop(self._queue)[-1]

class Item:
    def __init__(self,name):
        self.name=name
        
    def __repr__(self):
        return 'Item{!r}'.format(self.name)

In [45]:
q=PriorityQueue()

In [46]:
q.push(Item('foo'), 1)

In [47]:
q.push(Item('bar'), 5)

In [48]:
 q.push(Item('spam'), 4)

In [49]:
q.push(Item('grok'), 1)

In [51]:
q.pop()

Item'bar'

In [52]:
#Mapping Keys to Multiple Values in a Dictionary

In [53]:
d={
    'a':[1,2,3],
    'b':[4,5]
  }
e={
    'a':{1,2,3},
    'b':{4,5}
  }

In [54]:
from collections import defaultdict

In [55]:
d=defaultdict(list)

In [56]:
d['a'].append(1)

In [57]:
d['a'].append(2)

In [58]:
d['a'].append(3)

In [59]:
d

defaultdict(list, {'a': [1, 2, 3]})

In [60]:
d=defaultdict(set)

In [62]:
d['a'].add(4)

In [63]:
d['a'].add(5)

In [64]:
d

defaultdict(set, {'a': {4, 5}})

In [65]:
d=defaultdict(list)
for key,value in pairs:
    d['key'].append(value)

NameError: name 'pairs' is not defined

In [66]:
# Keeping Dictionaries in Order

In [67]:
from collections import OrderedDict

In [68]:
d=OrderedDict()

In [69]:
d['foo']=1

In [70]:
d['bar']=2

In [71]:
d['spam']=3

In [72]:
d

OrderedDict([('foo', 1), ('bar', 2), ('spam', 3)])

In [76]:
for key in d:
    print(key,d[key])

foo 1
bar 2
spam 3

In [77]:
for key in d:
    print(key,d.values())

foo odict_values([1, 2, 3])
bar odict_values([1, 2, 3])
spam odict_values([1, 2, 3])

In [78]:
#Calculating with Dictionaries

In [79]:
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
}

In [81]:
min_price=min(zip(prices.values(),prices.keys()))

In [83]:
min_price

(10.75, 'FB')

In [85]:
max_price=max(zip(prices.values(),prices.keys()))

In [86]:
max_price

(612.78, 'AAPL')

In [87]:
price_sorted=sorted(zip(prices.values(),prices.keys()))

In [88]:
price_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

In [89]:
prices_and_names=zip(prices.values(),prices.keys())

In [90]:
print(min(prices_and_names))

(10.75, 'FB')

In [91]:
print(max(prices_and_names))

ValueError: max() arg is an empty sequence

In [92]:
min(prices)

'AAPL'

In [93]:
max(prices)

'IBM'

In [94]:
min(prices.values())

10.75

In [95]:
max(prices.values())

612.78

In [97]:
min(prices,key=lambda k:prices[k])

'FB'

In [98]:
max(prices,key=lambda k:prices[k])

'AAPL'

In [99]:
min_value=prices[min(prices,key=lambda k:prices[k])]

In [101]:
min_value

10.75

In [102]:
 prices = { 'AAA' : 45.23, 'ZZZ': 45.23 }

In [103]:
min(zip(prices.values(),prices.keys()))

(45.23, 'AAA')

In [104]:
max(zip(prices.values(),prices.keys()))

(45.23, 'ZZZ')

In [105]:
# Finding Commonalities in Two Dictionaries

In [118]:
a={
    'x':1,
    'y':2,
    'z':3
}

In [119]:
b={
    'w':10,
    'x':11,
    'y':2
}

In [120]:
a.keys() & b.keys()

{'x', 'y'}

In [121]:
a.keys()-b.keys()

{'z'}

In [122]:
a.items() & b.items()

{('y', 2)}

In [123]:
c={key:a[key] for key in a.keys()-{'z','w'}}

In [124]:
c

{'x': 1, 'y': 2}

In [126]:
#Removing Duplicates from a Sequence while Maintaining Order

In [127]:
def dedupe(items):
    seen=set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [128]:
a = [1, 5, 2, 1, 9, 1, 5, 10]

In [131]:
list(dedupe(a))

[1, 5, 2, 9, 10]

In [132]:
def dedupe(items,key=None):
    seen=set()
    for item in items:
        val=item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)

In [140]:
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]

In [141]:
list(dedupe(a,key=lambda d:(d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [148]:
list(dedupe(a,key=lambda d:(d['x'])))

[{'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

In [149]:
#Naming a Slice

In [154]:
items = [0, 1, 2, 3, 4, 5, 6]

In [155]:
a=slice(2,4)

In [158]:
items[a]

[2, 3]

In [159]:
items[a]=[10,11]

In [160]:
items

[0, 1, 10, 11, 4, 5, 6]

In [161]:
s='Hello World'

In [162]:
a.indices(len(s))

(2, 4, 1)

In [164]:
for i in range(*a.indices(len(s))):
    print(s[i])

l
l

In [166]:
#Determining the Most Frequently Occurring Items in a Sequence

In [167]:
words = [
 'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
 'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
 'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
 'my', 'eyes', "you're", 'under'
]

In [168]:
from collections import Counter

In [169]:
world_counter=Counter(words)

In [170]:
top_three=world_counter.most_common(3)

In [171]:
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

In [173]:
world_counter['my']

3

In [174]:
morewords = ['why','are','you','not','looking','in','my','eyes']

In [178]:
for word in morewords:
    world_counter[word]+=1

In [180]:
world_counter['eyes']

9

In [181]:
world_counter.update(morewords)

In [182]:
a=Counter(words)

In [183]:
b=Counter(morewords)

In [184]:
a

Counter({'around': 2,
         "don't": 1,
         'eyes': 8,
         'into': 3,
         'look': 4,
         'my': 3,
         'not': 1,
         'the': 5,
         'under': 1,
         "you're": 1})

In [185]:
b

Counter({'are': 1,
         'eyes': 1,
         'in': 1,
         'looking': 1,
         'my': 1,
         'not': 1,
         'why': 1,
         'you': 1})

In [186]:
c=a + b

In [187]:
c

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

In [188]:
d=a-b

In [189]:
d

Counter({'around': 2,
         "don't": 1,
         'eyes': 7,
         'into': 3,
         'look': 4,
         'my': 2,
         'the': 5,
         'under': 1,
         "you're": 1})

In [190]:
#Sorting a List of Dictionaries by a Common Key

In [191]:
rows = [
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [192]:
from operator import itemgetter

In [193]:
row_by_name=sorted(rows,key=itemgetter('fname'))

In [194]:
row_by_uid=sorted(rows,key=itemgetter('uid'))

In [195]:
print(row_by_name)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [196]:
print(row_by_uid)

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [197]:
rows_by_lfname=sorted(rows,key=itemgetter('lname','fname'))

In [198]:
print(rows_by_lfname)

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [199]:
rows_by_name=sorted(rows,key=lambda r: r['fname'])

In [200]:
print(rows_by_name)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [201]:
rows_by_name=sorted(rows,key=lambda r:['uid'])

In [202]:
print(row_by_name)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [203]:
rows_by_name=sorted(rows,key=lambda r:(r['lname'],r['fname']))

In [204]:
print(row_by_name)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [205]:
min(rows,key=itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [206]:
max(rows,key=itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [207]:
# Sorting Objects Without Native Comparison Support

In [217]:
class User:
    def __init__(self,user_id):
        self.user_id=user_id
        
    def __repr__(self):
        return 'User{}'.format(self.user_id)

In [218]:
users=[User(23),User(3),User(99)]

In [219]:
users

[User23, User3, User99]

In [220]:
sorted(users,key=lambda u:u.user_id)

[User3, User23, User99]

In [221]:
from operator import attrgetter

In [222]:
sorted(users,key=attrgetter('user_id'))

[User3, User23, User99]

In [223]:
min(users,key=attrgetter('user_id'))

User3

In [224]:
max(users,key=attrgetter('user_id'))

User99

In [225]:
# Grouping Records Together Based on a Field

In [226]:
rows = [
 {'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [227]:
from operator import itemgetter
from itertools import groupby

In [228]:
rows.sort(key=itemgetter('date'))

In [229]:
rows

[{'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

In [230]:
for date, items in groupby(rows,key=itemgetter('date')):
    print(date)
    for i in items:
        print(' ',i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [231]:
from collections import defaultdict

In [232]:
rows_by_date=defaultdict(list)

In [233]:
for row in rows:
    rows_by_date[row['date']].append(row)

In [236]:
for r in rows_by_date['07/01/2012']:
    print(r)

{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}

In [237]:
for row in rows:
    print(row)

{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}
{'address': '5800 E 58TH', 'date': '07/02/2012'}
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
{'address': '1060 W ADDISON', 'date': '07/02/2012'}
{'address': '2122 N CLARK', 'date': '07/03/2012'}
{'address': '5148 N CLARK', 'date': '07/04/2012'}
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [238]:
#Filtering Sequence Elements

In [239]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [240]:
[n for n in mylist if n>0]

[1, 4, 10, 2, 3]

In [241]:
[n for n in mylist if n<0]

[-5, -7, -1]

In [242]:
pos=(n for n in mylist if n>0)

In [244]:
for x in pos:
    print(x)

1
4
10
2
3

In [245]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']

In [246]:
def is_int(val):
    try:
        x=int(val)
        return True
    except:
        return False

In [247]:
ivals=list(filter(is_int,values))

In [248]:
ivals

['1', '2', '-3', '4', '5']

In [251]:
 mylist = [1, 4, -5, 10, -7, 2, 3, -1]
import math

In [252]:
[math.sqrt(n) for n in mylist if n>0]

[1.0, 2.0, 3.1622776601683795, 1.4142135623730951, 1.7320508075688772]

In [253]:
clip_neg=[n if n>0 else 0 for n in mylist]

In [254]:
clip_neg

[1, 4, 0, 10, 0, 2, 3, 0]

In [255]:
clip_pos=[n if n<0 else 0 for n in mylist]

In [256]:
clip_pos

[0, 0, -5, 0, -7, 0, 0, -1]

In [257]:
addresses = [
 '5412 N CLARK',
 '5148 N CLARK',
 '5800 E 58TH',
 '2122 N CLARK'
 '5645 N RAVENSWOOD',
 '1060 W ADDISON',
 '4801 N BROADWAY',
 '1039 W GRANVILLE',
]

In [258]:
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [259]:
from itertools import compress

In [260]:
more5=[n>5 for n in counts]

In [261]:
more5

[False, False, True, False, False, True, True, False]

In [262]:
list(compress(addresses,more5))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

In [263]:
#Extracting a Subset of a Dictionary

In [264]:
prices = {
 'ACME': 45.23,
 'AAPL': 612.78,
 'IBM': 205.55,
 'HPQ': 37.20,
 'FB': 10.75
}

In [265]:
p1={key:value for key ,value in prices.items() if value>200}

In [266]:
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [267]:
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }

In [269]:
p2={key:value for key,value in prices.items() if key in tech_names}

In [270]:
p2

{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

In [271]:
#Mapping Names to Sequence Elements

In [272]:
from collections import namedtuple

In [273]:
Subscriber=namedtuple('Subscriber',['addr','joined'])

In [274]:
sub=Subscriber('jonesy@example.com', '2012-10-19')

In [275]:
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [277]:
sub.addr

'jonesy@example.com'

In [279]:
sub.joined

'2012-10-19'

In [280]:
len(sub)

2

In [281]:
addr,joined=sub

In [282]:
addr

'jonesy@example.com'

In [283]:
joined

'2012-10-19'

In [284]:
#Transforming and Reducing Data at the Same Time

In [285]:
nums = [1, 2, 3, 4, 5]

In [287]:
s=sum(x * x for x in nums)

In [288]:
s

55

In [289]:
import os

In [295]:
files=os.listdir("C:\\Users\Satish\Desktop\MasteringPython")
if any(name.endswith('.ipynb') for name in files):
    print("This is python")
else:
    print("Sorry could not find a file ")

This is python

In [296]:
s=('ACME', 50, 123.45)

In [297]:
print(','.join(str(x) for x in s))

ACME,50,123.45

In [298]:
portfolio = [
 {'name':'GOOG', 'shares': 50},
 {'name':'YHOO', 'shares': 75},
 {'name':'AOL', 'shares': 20},
 {'name':'SCOX', 'shares': 65}
]

In [299]:
min_shares=min(s['shares'] for s in portfolio)

In [301]:
min_shares

20

In [303]:
#Combining Multiple Mappings into a Single Mapping

In [304]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

In [305]:
from collections import ChainMap

In [306]:
c=ChainMap(a,b)

In [307]:
c

ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4})

In [308]:
print(c['x'])

1