In [1]:
print("Hello World")
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what i mean')

Hello World
Hello World 2
Use
 to print a new line


See what i mean

In [2]:
len("Hello World")

11

In [3]:
s='Hello World'

In [5]:
print(s)

Hello World

In [6]:
s[1]

'e'

In [7]:
s[1:]

'ello World'

In [8]:
s[:3]

'Hel'

In [9]:
s[:]

'Hello World'

In [10]:
s[:-1]

'Hello Worl'

In [11]:
s[::2]

'HloWrd'

In [14]:
s + 'concatenate me'

'Hello Worldconcatenate me'

In [15]:
print(s)

Hello World

In [16]:
letter='z'

In [17]:
letter * 10

'zzzzzzzzzz'

In [18]:
s

'Hello World'

In [19]:
s.upper()

'HELLO WORLD'

In [20]:
s.lower()

'hello world'

In [22]:
s.split()

['Hello', 'World']

In [23]:
s.split('W')

['Hello ', 'orld']

In [24]:
s.split('w')

['Hello World']

In [25]:
'Insert another string with curly brackets:{}'.format('The inserted string')

'Insert another string with curly brackets:The inserted string'

In [27]:
print("I'm going to inject %s here." % 'something')

I'm going to inject something here.

In [28]:
print("I'm going to inject %s text here , and %s text here" %('some','more'))

I'm going to inject some text here , and more text here

In [29]:
x,y='some','more'
print("I'm going to inject %s text here , and %s text herer" %(x,y))

I'm going to inject some text here , and more text herer

In [31]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r' %'Fred')

He said his name was Fred.
He said his name was 'Fred'

In [32]:
print('I worte %s program today' %3.75)

I worte 3.75 program today

In [33]:
print('I wrote %d program today' %3.75)

I wrote 3 program today

In [35]:
print('Floating point number: %5.2f' %(13.144))

Floating point number: 13.14

In [36]:
print('Floting pint number is %1.5f' %(13.144))

Floting pint number is 13.14400

In [38]:
print('First %s, second %5.2f ,third %r' %('hi',3.12345,'bye'))

First hi, second  3.12 ,third 'bye'

In [39]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [40]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [41]:
print('First Object: {a}, second Object: {b} , third object : {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, second Object: Two , third object : 12.3

In [43]:
print('A %s saved is a %s earned' %('penny','penny'))

A penny saved is a penny earned

In [44]:
print('A {p} saved is a {p} earned'.format(p='penny'))

A penny saved is a penny earned

In [45]:
name='Fred'
print(f'He said his name {name}')

He said his name Fred

In [46]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

In [47]:
num=23.45678
print(f"My name is :{num:{10}.{6}}")

My name is :   23.4568

In [48]:
my_list=[1,2,3]

In [49]:
my_list=['A string',23,100,0]

In [50]:
my_list

['A string', 23, 100, 0]

In [52]:
len(my_list)

4

In [53]:
my_list=['one','two','three',4,5]

In [54]:
my_list[0]

'one'

In [55]:
my_list[1:]

['two', 'three', 4, 5]

In [56]:
my_list[:3]

['one', 'two', 'three']

In [57]:
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [58]:
my_list.append('append me')

In [59]:
my_list

['one', 'two', 'three', 4, 5, 'append me']

In [61]:
my_list.pop(0)

'one'

In [62]:
new_list = ['a','e','x','b','c']

In [63]:
new_list.sort()

In [64]:
new_list

['a', 'b', 'c', 'e', 'x']

In [66]:
new_list.reverse()

In [67]:
new_list

['x', 'e', 'c', 'b', 'a']

In [68]:
new_list.sort()

In [69]:
new_list

['a', 'b', 'c', 'e', 'x']

In [70]:
list_1=[1,2,3]
list_2=[4,5,6]
list_3=[7,8,9]

In [72]:
matrix=[list_1,list_2,list_3]

In [73]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
matrix[0]

[1, 2, 3]

In [75]:
matrix[0][1]

2

In [80]:
first_col=[row[2] for row in matrix]

In [81]:
first_col

[3, 6, 9]

In [82]:
data = [(1,2,3),(1,2,1),(1,1,4)]

In [83]:
sorted(data,key=lambda tup:(tup[1],tup[2]))

[(1, 1, 4), (1, 2, 1), (1, 2, 3)]

In [84]:
my_dict={'key1':'value1','key2':'value2'}

In [85]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [86]:
my_dict={'key1':123,'key2':[12,23,34],'key3':['item0','item1','item3']}

In [87]:
my_dict

{'key1': 123, 'key2': [12, 23, 34], 'key3': ['item0', 'item1', 'item3']}

In [88]:
my_dict['key3']

['item0', 'item1', 'item3']

In [91]:
my_dict['key3'][1].upper()

'ITEM1'

In [92]:
my_dict['key1']=my_dict['key1']-123

In [93]:
my_dict

{'key1': 0, 'key2': [12, 23, 34], 'key3': ['item0', 'item1', 'item3']}

In [94]:
d={}

In [95]:
d['animal']='Dog'

In [96]:
d['answer']=42

In [97]:
d

{'animal': 'Dog', 'answer': 42}

In [98]:
d={'key1':{'netkey':{'subnetkey':'value'}}}

In [99]:
d

{'key1': {'netkey': {'subnetkey': 'value'}}}

In [100]:
d={'key1':1,'key2':2,'key3':3}

In [101]:
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [102]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [104]:
d.values()

dict_values([1, 2, 3])

In [105]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [106]:
t=(1,2,3)

In [107]:
len(t)

3

In [108]:
t

(1, 2, 3)

In [109]:
t=('one',2)

In [110]:
t

('one', 2)

In [111]:
t[0]

'one'

In [112]:
t[-1]

2

In [113]:
t.index('one')

0

In [115]:
t.count('one')

1

In [119]:
my_file=open('text.txt','w+')

In [120]:
my_file.write('This is a new line')

18

In [121]:
my_file.read()

''

In [123]:
my_file.seek(0)
my_file.read()

'This is a new line'

In [124]:
my_file.close()

In [128]:
 4 * (6 + 5)

44

In [129]:
3 + 1.5 + 4

8.5

In [130]:
5 **2

25

In [135]:
25 **.5

5.0

In [136]:
s='hello'

In [137]:
s[1]

'e'

In [138]:
s='hello'

In [139]:
s[::-1]

'olleh'

In [140]:
s[-1]

'o'

In [141]:
s[4]

'o'

In [142]:
[0] * 3

[0, 0, 0]

In [143]:
list=[0,0,0]

In [144]:
list

[0, 0, 0]

In [145]:
list3 = [1,2,[3,4,'hello']]

In [147]:
list3[2][2]='goodbye'

In [149]:
list3

[1, 2, [3, 4, 'goodbye']]

In [150]:
list4=[5,3,4,6,1]

In [152]:
list4.sort()

In [153]:
list4

[1, 3, 4, 5, 6]

In [154]:
d = {'simple_key':'hello'}

In [155]:
d['simple_key']

'hello'

In [156]:
d = {'k1':{'k2':'hello'}}

In [157]:
d['k1']['k2']

'hello'

In [158]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [177]:
d['k1'][0]['nest_key']

TypeError: 'int' object is not subscriptable

In [166]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [173]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'