In [1]:
if True:
    print("It was true")

It was true

In [2]:
x=False
if x:
    print('X was true')
else:
    print('X was False')

X was False

In [3]:
person='George'
if person=='Sammy':
    print('Welcome Sammy')
elif person=='George':
    print('Wecome to George')
else:
    print('Satish')

Wecome to George

In [4]:
person='Kumar'
if person=='Satish':
    print('Yes')
elif person=='Kumar':
    print('Good')
else:
    print('Yes')

Good

In [5]:
list1=[1,2,3,4,5,6,7,8]
for i in list1:
    print(i)

1
2
3
4
5
6
7
8

In [6]:
17%5

2

In [7]:
18 % 7

4

In [8]:
4 %2

0

In [9]:
for num in list1:
    if num %2 ==0:
        print(num)

2
4
6
8

In [10]:
for num in list1:
    if num%2==0:
        print(num)
    else:
        print("odd")

odd
2
odd
4
odd
6
odd
8

In [12]:
list_sum=0
for num in list1:
    list_sum=list_sum+ num
print(list_sum)

36

In [13]:
for letter in 'This is string':
    print(letter)

T
h
i
s

i
s

s
t
r
i
n
g

In [14]:
tup=(1,2,3,4,5)
for i in tup:
    print(i)

1
2
3
4
5

In [15]:
list=[(2,4),(6,8),(10,12)]

In [16]:
for tup in list:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [17]:
for (t1,t2) in list:
    print(t1)
    print(t2)

2
4
6
8
10
12

In [28]:
d={'k1':1,'k2':2,'k3':3}
for i in d:
    print(i)

k1
k2
k3

In [30]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [31]:
d.values()

dict_values([1, 2, 3])

In [32]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [24]:
for k, v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [36]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [37]:
sorted(d.values())

[1, 2, 3]

In [38]:
x=0
while(x<10):
    print(x)
    x=x+1
print(x)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
x=0
while(x<10):
    print(x)
    if x==5:
        break
    else:
        print('continue')
    x=x+1

0
continue
1
continue
2
continue
3
continue
4
continue
5

In [3]:
range(0,11)

range(0, 11)

In [4]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
index_count=0
for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count=index_count +1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
for i,letter in enumerate('xyz'):
    print('At index {} the letter is {}'.format(i, letter))

At index 0 the letter is x
At index 1 the letter is y
At index 2 the letter is z

In [10]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [11]:
mylist=[1,2,3,4,5]
mylist1=[19,9,8,7]
zip(mylist,mylist1)

In [12]:
list(zip(mylist,mylist1))

[(1, 19), (2, 9), (3, 8), (4, 7)]

In [14]:
for item1, item2 in list(zip(mylist,mylist1)):
    print(item1,item2)

1 19
2 9
3 8
4 7

In [16]:
'x' in ['x','y','z']

True

In [17]:
'x' in [1,2,3]

False

In [18]:
mylist=[10,20,30,40]

In [19]:
min(mylist)

10

In [20]:
max(mylist)

40

In [21]:
from random import shuffle

In [22]:
shuffle(mylist)

In [24]:
mylist

[20, 10, 40, 30]

In [25]:
from random import randint

In [26]:
randint(0,100)

7

In [27]:
randint(0,100)

80

In [28]:
x=input('Please enter the number')

Please enter the numberx

In [30]:
lst=[x for x in 'word']

In [31]:
lst

['w', 'o', 'r', 'd']

In [32]:
lst=[x **2 for x in range(0,11)]

In [33]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
lst=[x for x in range(0,11) if x%2==0]

In [35]:
lst

[0, 2, 4, 6, 8, 10]

In [36]:
lst=[x **2 for x in [x**2 for x in range(0,10)]]

In [37]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [38]:
st = 'Print only the words that start with s in this sentence'

In [40]:
for x in st.split():
    if x.startswith('s'):
        print(x)

start
s
sentence

In [41]:
even=[x for x in range(0,11) if x%2==0]

In [42]:
even

[0, 2, 4, 6, 8, 10]

In [43]:
odd=[x for x in range(1,51) if x%3==0]

In [44]:
odd

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [45]:
st = 'Print every word in this sentence that has an even number of letters'

In [47]:
for x in st.split():
    if len(x)%2==0:
        print('even')
        print(x)

even
word
even
in
even
this
even
sentence
even
that
even
an
even
even
even
number
even
of

In [48]:
st = 'Create a list of the first letters of every word in this string'

In [49]:
lst=[x[0] for x in st.split()]

In [50]:
lst

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [51]:
lst=[1,2,3,4,5]

In [52]:
lst

[1, 2, 3, 4, 5]

In [53]:
lst.append(6)

In [54]:
lst

[1, 2, 3, 4, 5, 6]

In [56]:
lst.count(2)

1

In [58]:
help(lst.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [59]:
def say_hello():
    print('Hello')

In [60]:
say_hello()

Hello

In [61]:
def getname(name):
    print("Hello %s" %(name))

In [62]:
getname('Jose')

Hello Jose

In [63]:
def add_sum(num1,num2):
    sum=num1 + num2
    return sum

In [64]:
add_sum(10,20)

30

In [65]:
add_sum('one','two')

'onetwo'

In [66]:
def is_prime(num):
    for n in range(2,num):
        if num%n==0:
            print(num, 'number is not prime')
            break
        else:
            print('Number is prime')

In [67]:
is_prime(10)

10 number is not prime

In [83]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [84]:
lesser_of_two_evens(2,4)

2

In [85]:
lesser_of_two_evens(2,5)

5

In [90]:
def animal_crackers(text):
    wordlist=text.split()
    return wordlist[0][0]==wordlist[1][0]

In [91]:
animal_crackers('Levelheaded Llama')

True

In [92]:
animal_crackers('Crazy Kangaroo')

False

In [106]:
def makes_twenty(n1,n2):
    if n1 ==20 or n2==10 or (n1 +n2) == 20:
        return True
    else:
        return False

In [107]:
makes_twenty(20,10)

True

In [108]:
makes_twenty(12,8)

True

In [109]:
makes_twenty(2,3)

False

In [2]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'String is small'

In [3]:
old_macdonald('macdonald')

'MacDonald'

In [24]:
def master_yoda(text):
    l=[]
    for i in text.split():
        l.append(i)
    l.reverse()
    print(" ".join(l))

In [25]:
master_yoda('I am home')

home am I

In [26]:
master_yoda('We are ready')

ready are We

In [32]:
def almost_there(n):
    if n in range(90,111) or n in range(190, 211):
        return True
    else:
        return False

In [33]:
almost_there(104)

True

In [34]:
almost_there(150)

False

In [35]:
almost_there(209)

True

In [39]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [40]:
has_33([1, 3, 3])

True

In [41]:
has_33([1, 3, 1, 3])

False

In [42]:
has_33([3, 1, 3])

False

In [57]:
def paper_doll(text):
    result=''
    for i in text:
        result= result + (i*3)
    return result

In [58]:
paper_doll('Hello')

'HHHeeellllllooo'

In [59]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [73]:
def blackjack(a,b,c):
    if sum((a,b,c)) <=21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c))-10
    else:
        return 'BUST'

In [74]:
blackjack(5,6,7)

18

In [75]:
blackjack(9,9,9)

'BUST'

In [76]:
blackjack(9,9,11)

19

In [77]:
def summer_69(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total +=num
                break
            else:
                add=False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [78]:
summer_69([1, 3, 5])

9

In [79]:
def spy_game(nums):
    code=[0,0,7,'x']
    
    for num in nums:
        if num==code[0]:
            code.pop(0)
    return len(code)==1

In [80]:
spy_game([1,2,4,0,0,7,5])

True

In [81]:
spy_game([1,0,2,4,0,5,7])

True