In [2]:
def square(num):
    return num **2

In [3]:
my_nums = [1,2,3,4,5]

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [13]:
def splicer(mystring):
    if len(mystring) %2 == 0:
        return 'even'
    else:
        return mystring[0]

In [14]:
mynames=['John','Cindy','Sarah','Kelly','Mike']

In [15]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

In [16]:
def check_even(num):
    return num % 2==0

In [17]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [18]:
filter(check_even,nums)

In [19]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [20]:
sqaure=lambda num: num *2

In [21]:
sqaure(2)

4

In [22]:
list(map(lambda num: num **2 ,my_nums))

[1, 4, 9, 16, 25]

In [23]:
lambda s: s[0]

In [24]:
lambda s:s[::-1]

In [25]:
lambda x,y:x + y

In [26]:
x=25
def printer():
    x=50
    return x

In [27]:
print(x)

25

In [30]:
print(printer())

50

In [1]:
def myfunc(a,b):
    return sum((a,b))* .05

In [2]:
myfunc(40,60)

5.0

In [3]:
def myfunc(*args):
    return sum(args) * .05

In [4]:
myfunc(10,20)

1.5

In [5]:
myfunc(10)

0.5

In [15]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")
    else:
        print("I don't know")

In [16]:
myfunc(fruit='pineapple')

My favorite fruit is pineapple

In [17]:
myfunc()

I don't know

In [18]:
def myfunc(*args,**kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit in {kwargs['fruit']}")
        print(f"May i have some {kwargs['juice']}")
    else:
        pass
myfunc('eggs','spam',fruit='apple',juice='orange')

I like eggs and spam and my favorite fruit in apple
May i have some orange

In [20]:
def vol(rad):
    return (4/3) * 3.14 * (rad ** 3)

In [21]:
vol(2)

33.49333333333333

In [22]:
def ran_check(num,low,high):
    if num in range(low,high +1):
        print(f"{num} is in range of {low} and {high}")

In [25]:
ran_check(8,2,7)

In [48]:
def up_low(s):
    d={"upper":0,"lower":0}
    for i in s:
        if i.isupper():
            d["upper"]+=1
        elif i.islower():
            d["lower"]+=1
        else:
            pass
    print("Original string :",s)
    print("No. of Upper case characters :", d["upper"])
    print("No. of Lower case Characters:d", d["lower"])

In [49]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original string : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case Characters:d 33

In [36]:
def unique_list(lst):
    return list(set(lst))

In [37]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [41]:
def multiply(numbers):  
    mul=1
    for i in numbers:
        mul=mul *i
    print(mul)

In [42]:
multiply([1,2,3,-4])

-24

In [50]:
def unique_list(lst):
    x=[]
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [51]:

unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [52]:
def palidrome(s):
    s=s.replace(' ','')
    return s ==s[::-1]

In [54]:
palidrome('nurses run')

True

In [56]:
palidrome('abcba')

True

In [57]:
import string

In [58]:
def ispangram(str1,alphabet=string.ascii_lowercase):
    alphabet=set(alphabet)
    return alphabet<=set(str1.lower())

In [59]:
ispangram("The quick brown fox jumps over the lazy dog")

True