In [1]:
#A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
#Following are the criteria for checking the password:
#1. At least 1 letter between [a-z]
#2. At least 1 number between [0-9]
#1. At least 1 letter between [A-Z]
#3. At least 1 character from [$#@]
#4. Minimum length of transaction password: 6
#5. Maximum length of transaction password: 12

In [2]:
import re
input_password=input("Please enter the password")
p=[pwd for pwd in input_password.split(',')]
for password in p:
    if len(password) >=6 and len(password) <=12:
        if re.search("[a-z]",password) and re.search("[A-Z]",password) and re.search("[0-9]",password) and re.search("[$#@]",password):
            print(password)
        else:
            pass
    else:
        pass

Please enter the passwordSatish@123
Satish@123

In [3]:
#You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
#1: Sort based on name;
#2: Then sort based on age;
#3: Then sort by score.
#The priority is that name > age > score.
#If the following tuples are given as input to the program:
#Tom,19,80
#John,20,90
#Jony,17,91
#Jony,17,93
#Json,21,85
#Then, the output of the program should be:
#[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [4]:
from operator import itemgetter, attrgetter
lst=[]
while True:
    s=input("Please enter the tuple")
    if not s:
        break
    lst.append(tuple(s.split(",")))
print(sorted(lst,key=itemgetter(0,1,2)))

Please enter the tupleTom,19,80
Please enter the tupleJohn,20,90
Please enter the tupleJony,17,91
Please enter the tupleJony,17,93
Please enter the tupleJson,21,85
Please enter the tuple
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [5]:
#Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [6]:
def gen(n):
    for num in range(0,n+1):
        if num%7==0:
            yield num

In [7]:
list(gen(100))

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [8]:
#Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. 
#Suppose the following input is supplied to the program:New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
#Then, the output should be:2:2 3.:1	3?:1	New:1	Python:5	Read:1	and:1	between:1	choosing:1	or:2	to:1

In [9]:
from collections import Counter
input_string=input("Please enter the string")
string=[x for x in input_string.split(" ")]
Counter(string)

Please enter the stringNew to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3

Counter({'2': 2,
         '3': 1,
         '3?': 1,
         'New': 1,
         'Python': 5,
         'Read': 1,
         'and': 1,
         'between': 1,
         'choosing': 1,
         'or': 2,
         'to': 1})

In [10]:
#Write a method which can calculate square value of number

In [11]:
def square(num):
    return num ** 2

In [12]:
square(2)

4

In [13]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

Return the absolute value of the argument.
int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

In [14]:
#Define a class, which have a class parameter and have a same instance parameter.

In [15]:
class Person:
    name="Person"
    def __init__(self,name=None):
        self.name=name
sat=Person("Satish")
print(sat.name,Person.name)    
ku=Person()
print(ku.name)
ku.name="Ku"
print(ku.name)

Satish Person
None
Ku

In [16]:
#Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [17]:
def sum(num1,num2):
    return int(num1) + int(num2)

In [18]:
sum('11','11')

22

In [19]:
#Define a function that can accept two strings as input and concatenate them and then print it in console.

In [20]:
def string(str1,str2):
    return str1+ str2

In [21]:
string("Satish","Kumar")

'SatishKumar'

In [22]:
#Define a function that can accept two strings as input and print the string with maximum length in console. 
#If two strings have the same length,then the function should print al l strings line by line.

In [23]:
def length(str1,str2):
    if len(str1)==len(str2):
        print(str1 + str2)
    elif len(str1) > len(str2):
        print(str1)
    else:
        print(str2)

In [24]:
length("one","three")

three

In [25]:
length("one","one")

oneone

In [26]:
#Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) 
#and the values are square of keys.

In [27]:
d={}
for num in range(1,4):
    d[num]=num**2
print(d)

{1: 1, 2: 4, 3: 9}

In [28]:
#Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [29]:
[x **2 for x in range(1,21)]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [30]:
lst1=[]
for i in range(1,21):
    lst1.append(i**2)
print(lst1[:5])

[1, 4, 9, 16, 25]

In [31]:
print(lst1[-5:])

[256, 289, 324, 361, 400]

In [32]:
print(lst1[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [33]:
#Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [34]:
def printtup():
    lst=[]
    for i in range(1,21):
        lst.append(i)      
    print(tuple(lst))

In [35]:
printtup()

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [36]:
#With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line 
#and the last half values in one line.

In [37]:
tup=(1,2,3,4,5,6,7,8,9,10)

In [38]:
tup[:5]

(1, 2, 3, 4, 5)

In [39]:
tup[5:]

(6, 7, 8, 9, 10)

In [40]:
#Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [41]:
lst=[]
tip=(1,2,3,4,5,6,7,8,9,10)
for i in tup:
    lst.append(i**2)
print(tuple(lst))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [42]:
#Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [43]:
lst=[1,2,3,4,5,6,7,8,9,10]
even=filter(lambda x: x%2==0 ,lst)

In [44]:
list(even)

[2, 4, 6, 8, 10]

In [45]:
#Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10]

In [46]:
lst=[1,2,3,4,5,6,7,8,9,10]
sqaure=map(lambda x: x**2 , lst)

In [47]:
list(sqaure)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
#Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10]

In [49]:
lst=[1,2,3,4,5,6,7,8,9,10]
even=filter(lambda x: x%2==0,lst)
sqaure=map(lambda x: x**2, even)
print(list(sqaure))

[4, 16, 36, 64, 100]

In [50]:
#Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. 
#Both user names and company names are composed of letters only.

In [51]:
input_string=input("Please enter the email id")
user=[x for x in input_string.split("@")]
print(user[0])

Please enter the email idsatish@gmail.coom
satish

In [52]:
#Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

In [53]:
lst=[]
input_string=input("Please enter the string")
for i in input_string:
    if i.isdigit():
        lst.append(i)
print(lst)

Please enter the stringsati12
['1', '2']

In [54]:
#Print a unicode string "hello world".

In [55]:
unicodeString = u"hello world!"
print(unicodeString)

hello world!

In [56]:
#Please write a program using list comprehension to print the Fibonacci Sequence 
#in comma separated form with a given n input by console.

In [57]:
def f(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return f(n-1) + f(n-2)

In [58]:
num=int(input("Please eneter the number"))
values=[str(f(x)) for x in range(0,num+1)]
print(','.join(values))

Please eneter the number5
0,1,1,2,3,5

In [59]:
#Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and 
#n in comma separated form while n is input by console.

In [60]:
def gen(n):
    for i in range(n+1):
        if i%5==0 and i%7==0:
            yield i

In [61]:
num=int(input("Please enter the number"))
lst=[]
for i in gen(num):
    lst.append(str(i))
print(','.join(lst))

Please enter the number70
0,35,70

In [62]:
#Please write assert statements to verify that every number in the list [2,4,6,8] is even.

In [63]:
lts1=[2,4,6,8]
for i in lts1:
    assert i%2==0

In [64]:
#Please write a program which accepts basic mathematic expression from console and print the evaluation result.

In [65]:
sum=0
input_string=input("Please enter the string")
number=[x for x in input_string.split("+")]
for num in number:
    sum=sum + int(num)
print(sum)

Please enter the string35+3
38

In [66]:
eval('35+3')

38

In [67]:
import random

In [68]:
print(random.random()*100)

39.69573019223825

In [69]:
print(random.random()*100-5)

-1.9947541802083757

In [70]:
print(random.sample(range(100),5))

[74, 89, 52, 51, 71]

In [71]:
print(random.sample([i for i in range(100,200) if i%2==0],5))

[192, 118, 130, 152, 160]

In [72]:
print(random.randrange(7,16))

11

In [73]:
import zlib

In [74]:
s =b'hello world!hello world!hello world!hello world!'

In [75]:
t=zlib.compress(s)

In [76]:
t

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'

In [77]:
zlib.decompress(t)

b'hello world!hello world!hello world!hello world!'

In [78]:
from timeit import Timer

In [79]:
t=Timer("for i in range(100):1+1")
print(t.timeit())

1.8241428409224743

In [80]:
#Please write a program to shuffle and print the list [3,6,7,8]

In [81]:
lst=[3,6,7,8]

In [82]:
from random import shuffle

In [83]:
shuffle(lst)

In [84]:
lst

[7, 6, 3, 8]

In [85]:
#Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and 
#the object is in ["Hockey","Football"].

In [86]:
subject=["I", "You"]
verb=["Play", "Love"]
object=["Hockey","Football"]
for i in range(len(subject)):
    for j in range(len(verb)):
        for z in range(len(object)):
            print("%s %s %s" %(subject[i],verb[j],object[z]))

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

In [87]:
#Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24]

In [88]:
lst=[5,6,77,45,22,12,24]
number=[x for x in lst if x%2!=0]

In [89]:
number

[5, 77, 45]

In [90]:
#By using list comprehension, please write a program to print the list after removing 
#the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [91]:
lst=[12,24,35,70,88,120,155]
number=[x for (i,x) in enumerate(lst) if i%2!=0]
number

[24, 70, 120]

In [92]:
#By using list comprehension, please write a program generate a 3*5*8 3D array whose each element is 0.

In [93]:
array=[[[0 for col in range(8)] for col in range(5)] for row in range(3)]

In [94]:
array

[[[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]]]

In [95]:
lst= [12,24,35,70,88,120,155]

In [96]:
lst1=[x for (i,x) in enumerate(lst) if i not in (0,4,5)]

In [97]:
lst1

[24, 35, 70, 155]

In [98]:
lst=[12,24,35,24,88,120,155]
lst1=[x for x in lst if x!=24]
lst1

[12, 35, 88, 120, 155]

In [99]:
#With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are 
#intersection of the above given lists

In [100]:
set1=set([1,3,6,78,35,55])
set2=set([12,24,35,24,88,120,155])
set1 &=set2
li=list(set1)
li

[35]

In [101]:
#With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values 
#with original order reserved

In [102]:
def duplicate(li):
    lst=[]
    seen=set()
    for item in li:
        if item not in seen:
            seen.add(item)
            lst.append(item)
    return lst

In [103]:
li=[12,24,35,24,88,120,155,88,120,155]
duplicate(li)

[12, 24, 35, 88, 120, 155]

In [104]:
from collections import Counter

In [105]:
Counter('abcdefgabc')

Counter({'a': 2, 'b': 2, 'c': 2, 'd': 1, 'e': 1, 'f': 1, 'g': 1})

In [106]:
#Please write a program which accepts a string from console and print it in reverse order.

In [107]:
input_string=input("Please enter the string")
for i in input_string[::-1]:
    print(i)

Please enter the string

In [108]:
#Please write a program which accepts a string from console and print the characters that have even indexes.

In [109]:
input_string=input("Please enter the string")
string=[x for (i,x) in enumerate(input_string) if i%2==0]
string

Please enter the stringsfadlfsldjf;lsjf;

['s', 'a', 'l', 's', 'd', 'f', 'l', 'j', ';']

In [110]:
#Please write a program which prints all permutations of [1,2,3]

In [111]:
import itertools

In [112]:
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]